*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 540px;
    margin: 0 auto;
}

.panel{
    background-color: rgb(191, 243, 243);
    margin: 16px;
    padding: 16px;
    border-radius: 16px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 20px;
    text-transform: uppercase;
}

.weather-info{
    min-height: 450px;
}

.weather-icon{
    height: 40px;
    width: auto;
    transition: opacity 0.5s, translate 1s;
}

.weather-location{
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
}

.weather-temperature{
    font-size: 100px;
    font-weight: 500;
    text-transform: uppercase;
}

.suggestion{
    font-size: 24px;
    font-weight: 700;
    transition: scale 1s;
}

.logo-icon{
    width: 40px;
    height: auto;
}

main{
    text-align: center;
}

body{
    background-color: azure;
    padding: 16px;
    font-family: Madimi One, sans-serif;
}

input{
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    color: beige;
    border-radius: 8px;
}

input::placeholder{
    color: blueviolet;
    text-transform: capitalize;
    font-size: 20px;
}

button{
    border-radius: 8px;
    padding: 5px;
}

button:hover{
    background-color: aqua;
    cursor: pointer;
}

.not-found{
    display: none;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    width: 100%;
    text-align: center;
}

.not-found img{
    width: 70%;
}

.fade-in{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to{
        scale: 1;
        opacity: 1;
    }   
}

.js-loading{
    .weather-icon{
        opacity: 0;
        translate: 0 30px;
    }
    .suggestion{
        scale: 0;
    }
}